.preloader{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.bodypreloader{
    visibility:hidden;
    overflow: hidden;
}

.ocultarpreloader{
    visibility:hidden; 
}
